* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

li { list-style: none; }

a { text-decoration: none; }

a,
img,
span,
label,
input,
button { display: block; }

button,
input {
	background: none;
	border: none;
	font: inherit;
}

button { cursor: pointer; }

input { width: 100%; }


html {
	font-size: 1rem;
	line-height: 1.5;
	scroll-behavior: smooth;
}